target
.snfoundry_cache/

account0_keystore.json

account0_account.json

starkli declare target/dev/helpnet_Helpnet.contract_class.json --rpc https://free-rpc.nethermind.io/sepolia-juno --account account0_account.json --keystore account0_keystore.json


starkli deploy 0x013bab9d0e6e3cfc2661d70cea43b0b508c69c9962f4200ff14149e5181681bd --rpc https://free-rpc.nethermind.io/sepolia-juno --account account0_account.json --keystore account0_keystore.json
